Options +FollowSymLinks
RewriteEngine on

# redirect from non www. domain to www. to prevent duplicate listings for SEO
RewriteEngine On
RewriteCond %{HTTP_HOST} ^yoursite\.com$ [NC]
RewriteRule ^(.*)$ http://www.yoursite.com/$1 [R=301,L]

# Anti XSS protection
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*iframe.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index_error.php [F,L]
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

# Anti cross site tracing - protection
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]

# prevent image theft / hotlinking
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?yoursite.com.com/.*$ [NC]
RewriteCond %{HTTP_USER_AGENT} !(googlebot-image|msnbot|psbot|yahoo-mmcrawler|cavalla_bot) [NC]
RewriteRule \.(gif|jpg)$ - [F]

# dont do clean url for these
RewriteRule    ^images - [L,NC]
RewriteRule    ^css - [L,NC]

# add trailing slashes for those we dont have file name
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)([^/])$        /$1$2/ [L,R=301]

# general url rewrite
RewriteRule    ^/?$             /index.php [L]
RewriteRule    ^places/?$       /places.php [L]
RewriteRule    ^facebook/?$     /facebook_login.php [L]
RewriteRule    ^mail/?$         /mail_login.php [L]
RewriteRule    ^google/?$       /google_login.php [L]
RewriteRule    ^teleport/?$     /teleport.php [L]
RewriteRule    ^gapelian/new/?$     /newGapelian.php [L]
RewriteRule    ^gapelian/login/?$   /oldGapelian.php [L]
RewriteRule    ^gapelian/map/?$     /gapelianMap.php [L]
ErrorDocument   404 /404.php
#RewriteRule    ^(.*)?$    /404.php [L]